<h4>A new order was placed. Here are the details:</h4>
<p> </p>
<table>
  <tr>
    <td>Service</td>
    <td>:</td>
    <td>{{service}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>:</td>
    <td>{{price}}</td>
  </tr>
  <tr>
    <td>Order ID</td>
    <td>:</td>
    <td>{{order_id}}</td>
  </tr>
  <tr>
    <td>Order Date</td>
    <td>:</td>
    <td>{{order_date}}</td>
  </tr>
</table>
<p> </p>
<p>Please proceed the order, click here {{link_order}} to view complete details of the order.</p>