<h4>A new order was placed in your Lab. Here are the details:</h4>
<p> </p>
<table>
  <tr>
    <td>Specimen Number</td>
    <td>:</td>
    <td>{{specimen_number}}</td>
  </tr>
  <tr>
    <td>Service</td>
    <td>:</td>
    <td>{{service}}</td>
  </tr>
  <tr>
    <td>Service Price</td>
    <td>:</td>
    <td>{{service_price}}</td>
  </tr>
  <tr>
    <td>QC Price</td>
    <td>:</td>
    <td>{{qc_price}}</td>
  </tr>
  <tr>
    <td>Order ID</td>
    <td>:</td>
    <td>{{order_id}}</td>
  </tr>
  <tr>
    <td>Order Date</td>
    <td>:</td>
    <td>{{order_date}}</td>
  </tr>
</table>
<p> </p>
<p>To view complete details of the order: {{link_order}}</p>